.link {
    text-decoration: none;
    color: #fdfdfd;
    font-size: 1.2em;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .link:hover {
    background-color: #f0f0f0;
    color: #007bff;
    cursor: pointer;
  }