#navcontent {
    min-height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #282c34;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  