.breadcrum {
    padding: 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
    display: flex;
    align-items: center;
  }
  
  .breadcrum img {
    margin: 0 5px;
    width: 12px; /* Adjust the width to make the images smaller */
    height: 12px; /* Adjust the height to make the images smaller */
  }